<table class="cart-items">
  {%- comment -%}{%- assign stuff = collections.all.products | json -%}{%- endcomment -%}
  {% liquid
    assign min = 0
    assign max = collections.all.products.size
    assign diff = max | minus: min
    assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min
    assign featured_item = collections.all.products[randomNumber]
  %}
  <thead>
    <tr>
      <th
        class="caption-with-letter-spacing !xborder-none"
        colspan="4"
        scope="col"
      >
        <h4 class="xflex xitems-center xwhitespace-nowrap">
          We think you'll love these!
          <span class="xw-full xh-[2px] xbg-black xml-3"></span>
        </h4>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr
      class="cart-item"
      id="CartItem-{{ featured_item.index | plus: 1 }}"
    >
      <td class="cart-item__media">
        {% if featured_item.images.size > 0 %}
          {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
          <a
            href="{{ featured_item.url }}"
            class="cart-item__link"
            aria-hidden="true"
            tabindex="-1"
          >
          </a>
          <img
            class="cart-item__image"
            src="{{ featured_item | img_url: 'master' }}"
            alt="{{ featured_item.alt | escape }}"
            loading="lazy"
            width="150"
            height="{{ 150 | divided_by: featured_item.aspect_ratio | ceil }}"
          >
        {% endif %}
      </td>

      <td class="cart-item__details">
        <a href="{{ featured_item.url }}" class="cart-item__name h4 break">
          {{- featured_item.title | escape -}}
        </a>

        <!-- ADD PRICE HERE -->
        {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
          <div class="product__tax caption rte">
            {%- if shop.taxes_included -%}
              {{ 'products.product.include_taxes' | t }}
            {%- endif -%}
            {%- if shop.shipping_policy.body != blank -%}
              {{
                'products.product.shipping_policy_html'
                | t: link: shop.shipping_policy.url
              }}
            {%- endif -%}
          </div>
        {%- endif -%}

        {%- if featured_item.has_only_default_variant == false or featured_item.properties.size != 0 or featured_item.selling_plan_allocation != nil -%}
          <dl>
            {%- if featured_item.has_only_default_variant == false -%}
              {%- for option in featured_item.options_with_values -%}
                <div class="product-option">
                  <dt>{{ option.name }}:</dt>
                  <dd>{{ option.value }}</dd>
                </div>
              {%- endfor -%}
            {%- endif -%}

            {%- for property in featured_item.properties -%}
              {%- assign property_first_char = property.first | slice: 0 -%}
              {%- if property.last != blank and property_first_char != '_' -%}
                <div class="product-option">
                  <dt>{{ property.first }}:</dt>
                  <dd>
                    {%- if property.last contains '/uploads/' -%}
                      <a
                        href="{{ property.last }}"
                        class="link"
                        target="_blank"
                      >
                        {{ property.last | split: '/' | last }}
                      </a>
                    {%- else -%}
                      {{ property.last }}
                    {%- endif -%}
                  </dd>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </dl>

          <p class="product-option">
            {{ featured_item.selling_plan_allocation.selling_plan.name }}
          </p>
        {%- endif -%}

        <ul
          class="discounts list-unstyled"
          role="list"
          aria-label="{{ 'customer.order.discount' | t }}"
        >
          {%- for discount in featured_item.discounts -%}
            <li class="discounts__discount">
              {%- render 'icon-discount' -%}
              {{ discount.title }}
            </li>
          {%- endfor -%}
        </ul>
      </td>

      <td class="cart-item__totals right medium-hide large-up-hide">
        <div class="loading-overlay hidden">
          <div class="loading-overlay__spinner">
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>
      </td>

      <td class="cart-item__quantity">
        <div class="cart-item__quantity-wrapper">
          <label
            class="visually-hidden"
            for="Quantity-{{ featured_item.index | plus: 1 }}"
          >
            {{ 'products.product.quantity.label' | t }}
          </label>
          <!--
            <button
              type="button"
              class="button !xbg-white !xp-0"
            >
              Add to cart
            </button>
          -->

          <div class="cart-item__price-wrapper total-price_hidden">
            {%- if featured_item.original_line_price != featured_item.final_line_price -%}
              <dl class="cart-item__discounted-prices">
                <dt class="visually-hidden">
                  {{ 'products.product.price.regular_price' | t }}
                </dt>
                <dd>
                  <s class="cart-item__old-price price price--end xfont-semibold">
                    {{ featured_item.original_line_price | money }}
                  </s>
                </dd>
                <dt class="visually-hidden">
                  {{ 'products.product.price.sale_price' | t }}
                </dt>
                <dd class="price price--end xfont-semibold">
                  {{ featured_item.final_line_price | money }}
                </dd>
              </dl>
            {%- else -%}
              <span class="price price--end xfont-semibold">
                {{ featured_item.original_line_price | money }}
              </span>
            {%- endif -%}

            {%- if featured_item.variant.available and featured_item.unit_price_measurement -%}
              <div class="unit-price caption">
                <span class="visually-hidden">
                  {{- 'products.product.price.unit_price' | t -}}
                </span>
                {{ featured_item.variant.unit_price | money }}
                <span aria-hidden="true">/</span>
                <span class="visually-hidden"
                  >&nbsp;
                  {{- 'accessibility.unit_price_separator' | t -}}
                  &nbsp;</span
                >
                {%- if featured_item.variant.unit_price_measurement.reference_value != 1 -%}
                  {{- featured_item.variant.unit_price_measurement.reference_value -}}
                {%- endif -%}
                {{ featured_item.variant.unit_price_measurement.reference_unit }}
              </div>
            {%- endif -%}
          </div>
        </div>
        <div
          class="cart-item__error"
          id="Line-item-error-{{ featured_item.index | plus: 1 }}"
          role="alert"
        >
          <small class="cart-item__error-text"></small>
          <svg
            aria-hidden="true"
            focusable="false"
            role="presentation"
            class="icon icon-error"
            viewBox="0 0 13 13"
          >
            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
          </svg>
        </div>
      </td>

      <td class="cart-item__totals right small-hide">
        <div class="loading-overlay hidden">
          <div class="loading-overlay__spinner">
            <svg
              aria-hidden="true"
              focusable="false"
              role="presentation"
              class="spinner"
              viewBox="0 0 66 66"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </div>

        <div class="cart-item__price-wrapper">
          {%- if featured_item.original_line_price != featured_item.final_line_price -%}
            <dl class="cart-item__discounted-prices">
              <dt class="visually-hidden">
                {{ 'products.product.price.regular_price' | t }}
              </dt>
              <dd>
                <s class="cart-item__old-price price price--end xfont-semibold">
                  {{ featured_item.original_line_price | money }}
                </s>
              </dd>
              <dt class="visually-hidden">
                {{ 'products.product.price.sale_price' | t }}
              </dt>
              <dd class="price price--end xfont-semibold">
                {{ featured_item.final_line_price | money }}
              </dd>
            </dl>
          {%- else -%}
            <span class="price price--end xfont-semibold">
              {{ featured_item.original_line_price | money }}
            </span>
          {%- endif -%}

          {%- if featured_item.variant.available and featured_item.unit_price_measurement -%}
            <div class="unit-price caption">
              <span class="visually-hidden">
                {{- 'products.product.price.unit_price' | t -}}
              </span>
              {{ featured_item.variant.unit_price | money }}
              <span aria-hidden="true">/</span>
              <span class="visually-hidden"
                >&nbsp;
                {{- 'accessibility.unit_price_separator' | t -}}
                &nbsp;</span
              >
              {%- if featured_item.variant.unit_price_measurement.reference_value != 1 -%}
                {{- featured_item.variant.unit_price_measurement.reference_value -}}
              {%- endif -%}
              {{ featured_item.variant.unit_price_measurement.reference_unit }}
            </div>
          {%- endif -%}
        </div>
      </td>
    </tr>
  </tbody>
</table>
