<div
  style="background-color: {{ section.settings.background }};"
  class="xrelative xpy-32 sm:xpy-52 xmy-10 sm:xmy-20 xpx-6"
>
  <div class="page-width">
    <h2 class="white-text-black-stroke h1 uppercase">
      {{ section.settings.title }}
    </h2>

    <div class="xflex xitems-end xspace-x-4 xpy-4">
      {% if section.settings.caption %}
        <p class="xtext-white">{{ section.settings.caption }}</p>
      {% endif %}
      {% if section.settings.icon %}
        {% render 'icon-question-mark' %}
      {% endif %}
    </div>

    <div
      id="image-container"
      class="xflex xflex-col sm:xflex-row sm:xjustify-center xitems-center sm:xspace-x-10 xmy-12 sm:xmy-20"
    ></div>
    <div class="xtext-center">
      <a
        href="{{ section.settings.link }}"
        class="button"
      >
        {{- section.settings.button_label -}}
      </a>
    </div>

    {% if 'scallop_border_top' %}
      {% render 'border-scallop-top' %}
    {% endif %}
    {% if 'scallop_border_bottom' %}
      {% render 'border-scallop-bottom' %}
    {% endif %}
  </div>
</div>

<script>
  fetch("https://app.iloveugc.com/api/v1/feed/3")
      .then(response => response.json())
      .then(results => {
        const feed = results.data;
        if(feed.length) {
          const imageContainer = document.getElementById('image-container')
          feed.splice(0,5).forEach(item => {
            imageContainer.appendChild(createImageCard(item))
          });
        }
      })
      .catch(e => console.log(e))

      function createImageCard(item) {
        let div = document.createElement('div')
          let img = document.createElement('img')
          let divChild = document.createElement('div')
          div.classList.add('xrelative', 'xmax-w-[350px]', 'sm:xflex-1', 'xoverflow-hidden', 'xrounded-3xl', 'xbg-black', 'border', 'xmb-6', 'sm:xmb-0')
          img.setAttribute('src', item.thumbnail_url)
          img.classList.add('xobject-cover', 'xobject-center')
          divChild.classList.add('xabsolute', 'xtop-0', 'xright-0', 'xp-5')
          divChild.innerHTML = `<span class="xbg-pink-600 xpx-4 xpy-1 xrounded-full xtext-semibold xtext-3xl sm:xtext-base">${item.name}</span>`
          div.appendChild(img)
          div.appendChild(divChild)
          return div;
      }
</script>

<style>
  .border {
    border: 2px solid black;
    box-shadow: black 3px 3px 0 0;
  }
</style>

{% schema %}
{
  "name": "Social Lookbook",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#3FA757"
    },
    {
      "type": "checkbox",
      "id": "scallop_border_top",
      "label": "Scalloped Border Top",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "scallop_border_bottom",
      "label": "Scalloped Border Bottom",
      "default": true
    },
    {
      "type": "range",
      "id": "position",
      "label": "Card Position",
      "min": 0,
      "max": 300,
      "step": 5,
      "default": 0
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Social Lookbook"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "More Information Comment",
      "default": "Get Featured"
    },
    {
      "type": "checkbox",
      "id": "icon",
      "label": "Show icon",
      "default": true
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Load more"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Links to",
      "default": ""
    }
  ],
  "presets": [
    {
      "name": "Social Lookbook"
    }
  ]
}
{% endschema %}
