<div
  style="background-color: {{ section.settings.background }}"
  class="xrelative xoverflow-x-hidden xpy-32 sm:xpy-52 xmy-10 sm:xmy-20 xpx-6"
>
  <div class="page-width">
    <h2 class="white-text-black-stroke h1 uppercase">
      {{ section.settings.title }}
    </h2>

    <div class="xflex xitems-end xspace-x-4 xpy-4">
      {% if section.settings.caption %}
        <p class="xtext-white">{{ section.settings.caption }}</p>
      {% endif %}
      {% if section.settings.icon %}
        {% render 'icon-question-mark' %}
      {% endif %}
    </div>

    <lookbook-gallery
      id="image-container"
      data-amount="{{ section.settings.num_of_images }}"
      class="xgrid xgrid-cols-2 sm:xgrid-cols-none sm:xgrid-flow-col xgap-10 xmy-12 sm:xmy-20"
    ></lookbook-gallery>

    <!--
      <div class="xtext-center">
        <a
          href="{{ section.settings.link }}"
          class="button"
        >
          {{- section.settings.button_label -}}
        </a>
      </div>
    -->

    {% if 'scallop_border_top' %}
      {% render 'border-scallop-top' %}
    {% endif %}
    {% if 'scallop_border_bottom' %}
      {% render 'border-scallop-bottom' %}
    {% endif %}
  </div>
</div>

<script>
  class LookbookGallery extends HTMLElement {
    constructor() {
      super();
    }
  };

  // add query per_page=5 once we have an endpoint for filtering the approved items
  fetch("https://app.iloveugc.com/api/v1/feed/3?page=3")
      .then(response => response.json())
      .then(results => {
        const feed = results.data;
        if(feed.length) {

          customElements.define('lookbook-gallery', LookbookGallery)
          let gallery = document.getElementsByTagName('lookbook-gallery')[0];

          feed.sort((a, b) => b.id - a.id).filter(item => item.is_active).splice(0, gallery?.dataset?.amount || 5).forEach(item => {
            gallery.appendChild(createImageCard(item))
          });
        }
      })
      .catch(e => console.log(e))

      function createImageCard(item) {
        let new_gallery_item;
        if(item.products?.length && item.products?.[0]?.product_url) {
          new_gallery_item = document.createElement('a')
          new_gallery_item.setAttribute('href', item.products?.[0]?.product_url);
        } else {
          new_gallery_item = document.createElement('div');
        }
        new_gallery_item.classList.add('xrelative', 'xw-full', 'xmax-w-[350px]', 'sm:xflex-1', 'xoverflow-hidden', 'xrounded-3xl', 'xbg-black');
        new_gallery_item.style.cssText = 'border:2px solid black;box-shadow:black 3px 3px 0 0;';

        if(item.type === 'image') {
          new_gallery_item.innerHTML = `<img src="${item.thumbnail_url}" alt="" class="xw-full xh-full xobject-cover xobject-center">`;
        } else {
          new_gallery_item.innerHTML = `<video src="${item.content_url}" alt="" class="xw-full xh-full xobject-cover xobject-center" autoplay muted loop playsinline></video>`;
        }
        return new_gallery_item;
      }
</script>

{% schema %}
{
  "name": "Social Lookbook",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#3FA757"
    },
    {
      "type": "checkbox",
      "id": "scallop_border_top",
      "label": "Scalloped Border Top",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "scallop_border_bottom",
      "label": "Scalloped Border Bottom",
      "default": true
    },
    {
      "type": "range",
      "id": "position",
      "label": "Card Position",
      "min": 0,
      "max": 300,
      "step": 5,
      "default": 0
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Social Lookbook"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "More Information Comment",
      "default": "Get Featured"
    },
    {
      "type": "range",
      "id": "num_of_images",
      "label": "Number of Images in Gallery",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 5,
      "info": "Save to see changes"
    },
    {
      "type": "checkbox",
      "id": "icon",
      "label": "Show icon",
      "default": true
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Load more"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Links to"
    }
  ],
  "presets": [
    {
      "name": "Social Lookbook"
    }
  ]
}
{% endschema %}
