<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js" defer>
</script>
<script src="{{ 'social-lookbook-feed.js' | asset_url }}" defer></script>

{{ 'social-lookbook-style.css' | asset_url | stylesheet_tag }}

<div
  style="background-color: {{ section.settings.background }}"
  class="xrelative xoverflow-x-hidden xpy-24 sm:xpy-52 xmy-10 sm:xmy-20 xpx-6"
>
  {% if 'scallop_border_top' %}
    {% render 'border-scallop-top' %}
  {% endif %}
  {% if 'scallop_border_bottom' %}
    {% render 'border-scallop-bottom' %}
  {% endif %}
  <div class="page-width">
    <h2 class="white-text-black-stroke h1 uppercase">
      {{ section.settings.title }}
    </h2>

    <div
      class="xflex xitems-center xspace-x-4 xpy-3 sm:xpy-12"
      title="Get featured today"
    >
      {% if section.settings.caption %}
        <p class="xtext-white">{{ section.settings.caption }}</p>
      {% endif %}
      {% if section.settings.icon %}
        {% render 'icon-question-mark' %}
      {% endif %}
    </div>

    <!-- Swiper Lookbook Gallery Slider -->
    <div class="swiper xh-auto xpr-[3px]">
      <div class="swiper-wrapper"></div>
      <!-- navigation buttons -->
      <div class="page-width xmx-auto">
        <div class="xflex xflex-col-reverse xs:xflex-row xs:xitems-center xjustify-between xmt-6 sm:xmt-12 xmb-3 sm:xmb-8">
          <a
            href="{{ section.settings.link }}"
            class="lookbook-button xmt-4"
          >
            {{- section.settings.button_label -}}
          </a>
          <div class="xspace-x-2 xmt-4 xself-center xs:xplace-self-auto">
            <div class="swiper-prev lookbook-button">
              {% render 'icon-caret-left' %}
            </div>
            <div class="swiper-next lookbook-button">
              {% render 'icon-caret-right' %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
    window.addEventListener('load', () => {
      const swiper = new Swiper('.swiper', {
      direction: 'horizontal',
      slidesPerView: 1,
      breakpoints: {
        500: {
          slidesPerView: 2,
        },
        900: {
          slidesPerView: 3
        },
        1100: {
          slidesPerView: 4
        }
      },
      spaceBetween: 45,
      navigation: {
        nextEl: '.swiper-next',
        prevEl: '.swiper-prev',
      }
    })
  })
</script>

{% schema %}
{
  "name": "Social Lookbook",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background Color",
      "default": "#3FA757"
    },
    {
      "type": "checkbox",
      "id": "scallop_border_top",
      "label": "Scalloped Border Top",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "scallop_border_bottom",
      "label": "Scalloped Border Bottom",
      "default": true
    },
    {
      "type": "range",
      "id": "position",
      "label": "Card Position",
      "min": 0,
      "max": 300,
      "step": 5,
      "default": 0
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Our Social Lookbook"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "More Information Comment",
      "default": "Get Featured"
    },
    {
      "type": "range",
      "id": "num_of_images",
      "label": "Number of Images in Gallery",
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 5,
      "info": "Save to see changes"
    },
    {
      "type": "checkbox",
      "id": "icon",
      "label": "Show icon",
      "default": true
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Load more"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Links to"
    }
  ],
  "presets": [
    {
      "name": "Social Lookbook"
    }
  ]
}
{% endschema %}
